
h1 {

	width: 100%;
	text-align: center;

}

#ui_toaster {

	position: absolute;
	right: 0;
	top: 0;

}

.ui_default_toast {

	height: 50px;
	width: 300px;

	line-height: 50px;

	padding: 10px;
	margin: 10px;

	border: black 3px solid;
	border-radius: 10px;

	text-align: center;
	vertical-align: middle;

	background-color: white;

}

#map-canvas {

	display: block;

	margin: 0 auto;

}

#message {

    width: calc(100% - 240px);
    height: 100px;

}

#packet-data-table {

	width: 100%;
	border-collapse: collapse;

}

#packet-data-table tr {

	border: solid;
	border-width: 1px 0;

}

#packet-data-table tbody tr:nth-child(odd) {

	background: #F2F2F2;

}

#packet-data-table thead tr :first-child {

	width: 180px;

}

#packet-data-table thead tr :nth-child(2),
#packet-data-table thead tr :nth-child(3) {

	width: 100px;

}

#button-div {

	overflow: hidden;

}

#message-buttons {
	float: right;
	width: 200px;
}

.input-group label {


	display: inline-block;
	width: 200px;

	margin-left: 10px;

}

.input-group input {

	width: 200px;

	margin-right: 10px;

	
}

.button-small {

	width: 180px !important;
	height: 20px !important;

	line-height: 20px !important;

	margin: 5px !important;
	margin-right: 20px !important;

}

.button {

	float: right;

	text-align: center;

	vertical-align: middle;

	font-size: 20px;

	line-height: 50px;

	border: black 3px solid;
	border-radius: 10px;

	margin: 10px;

	width: 200px;
	height: 50px;

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;

	cursor: pointer;

}