
@font-face {

	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(../data/font/Ubuntu.woff) format('woff');

}
	
body {

	overflow: hidden;

	font-family: 'Ubuntu', sans-serif;

}


h1 {

	width: 100%;
	text-align: center;

}

div {

	overflow: hidden;

}

.react-table {

	word-break: break-all;

}

.react-table thead {

	color: white;

	background-color: black;

}

.react-table thead td {

	padding: 4px 10px;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}

.react-table {

	float: left;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}

.react-page-change {

	float: left;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}

.react-page-change div {

	text-align: center;
	vertical-align: middle;

	border-style: solid;
	border-width: 2px 2px;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	color: white;

	background-color: black;

	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.react-title {

	color: white;
	text-shadow: -1px -1px 1px #fff;
	background: black;

}

.react-input {

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}

.react-tab {

	border-color: white;
	border-style: solid;
	border-width: 0 1px;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	font-weight: bold;
	color: white;

	background: black;

	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.react-button {

	border-color: white;
	border-style: solid;
	border-width: 1px;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	color: white;
	font-weight: bold;

	background:black;

	text-align: center;
	vertical-align: middle;

	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

#ui_toaster {

	position: absolute;
	right: 0;
	top: 0;

}

.ui_default_toast {

	height: 50px;
	width: 300px;

	line-height: 50px;

	padding: 10px;
	margin: 10px;

	border: black 3px solid;
	border-radius: 10px;

	text-align: center;
	vertical-align: middle;

	background-color: white;

}
